/data/Quadriga_wideband/mixed/12c-14t/quadriga_eval.npy
/data/Quadriga_wideband/mixed/12c-14t/quadriga_test.npy
/data/Quadriga_wideband/mixed/12c-14t/quadriga_train.npy
/data/3GPP/128rx/scm3gpp_1-path-cov-eval.npy
/data/3GPP/128rx/scm3gpp_1-path-cov-test.npy
/data/3GPP/128rx/scm3gpp_1-path-cov-train.npy
/data/3GPP/128rx/scm3gpp_1-path-eval.npy
/data/3GPP/128rx/scm3gpp_1-path-test.npy
/data/3GPP/128rx/scm3gpp_1-path-train.npy
